.swiper-button-next {
  color: #fcc402 !important;
}
.swiper-button-prev {
  color: #fcc402 !important;
}

@media screen and (max-width: 1300px) {
  .swiper-button-next {
    right: 0px !important;
  }
  .swiper-button-prev {
    left: 0px !important;
  }
}

@media screen and (max-width: 550px) {
  .swiper-container {
    margin-top: 10%;
    height: 20rem;
  }
}

/*.swiper-slide{
  width:98%  ;
}

@media screen and (min-width: 1024px) {
  .swiper-slide{
    width: 100%!important;
  }
  .swiper-button-next{
    right: 0rem!important;
  }
  .swiper-button-prev{
    left:0rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-slide {
    width: 100% !important;
  }
  .swiper-button-next{
    right: 0rem!important;
  }
  .swiper-button-prev{
    left:0rem !important;
  }
}

  @media screen and (max-width: 486px) {
    .swiper-slide {
      width: 100% !important;
    }

    .swiper-button-next{
      right: 0rem!important;
    }
    .swiper-button-prev{
      left:0rem !important;
    }
    .swiper-container {
      
    margin-top: 10%;
      height: 22rem 
    }
  }
  */
