.swiper-button-next {
  color: #fcc402 !important;
}
.swiper-button-prev {
  color: #fcc402 !important;
}
@media screen and (max-width: 1300px) {
  .swiper-button-next {
    right: 0px !important;
  }
  .swiper-button-prev {
    left: 0px !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    background: goldenrod !important;

    justify-content: center !important;
  }
}
@media screen and (max-width: 550px) {
  .swiper-container {
    margin-top: 5%;
    height: 25rem;
  }
  .swiper-pagination-bullet {
    background: goldenrod !important;

    justify-content: center !important;
  }
}
